@import '../assets/global.scss';


kendo-drawer-container{
    position: fixed;
    width: 100%;
    height: 100%;
    height: 46.5rem;
    kendo-drawer{
        background-color: #5A6276;
        color: #ffffff;
        padding-top: 55px;
        border: none;
        font-family: $primary-fonts-family;
        font-weight: 700;
        .k-drawer-wrapper{
            width: 150px;
            height: 60px;
            .k-drawer-items{
                .k-selected{
                    background-color: #1A2334 !important;
                }
            }
        }
    }
    
}
a{
    text-decoration: none;
    width: 250px;
    display: flex;
    align-items: center;
}
.customText{
    padding-left: 1rem;
    text-decoration: none;
    color: #ffffff;
}
