<div class="contenOptional">
    <div class="breadcrumb">
        <kendo-breadcrumb [items]="items"></kendo-breadcrumb>
    </div>
    <div class="listBtn">
        <kendo-button class="mar boxshardown" imageUrl="../../assets/svgIcon/listCoupon.svg">DANH SÁCH COUPON</kendo-button>
        <kendo-button class="mar boxshardown1" imageUrl="../../assets/svgIcon/print.svg"></kendo-button>
        <kendo-button class="mar boxshardown" imageUrl="../../assets/svgIcon/n-check.svg">ÁP DỤNG</kendo-button>
        <kendo-button class="mar boxshardown">XÓA ĐỢT PHÁT HÀNH</kendo-button>
        <kendo-buttongroup class="ba">
            <kendo-button class="custombtn" imageUrl="../../assets/svgIcon/plus.svg" themeColor="info">TẠO MỚI</kendo-button>
            <kendo-button imageUrl="../../assets/svgIcon/down.svg" themeColor="info"></kendo-button>
        </kendo-buttongroup>
    </div>
    <div class="btn">
        <kendo-buttongroup>
            <kendo-button icon="import" fillMode="flat"></kendo-button>
            <kendo-button imageUrl="../../assets/svgIcon/xlsx.svg" fillMode="flat"></kendo-button>
            <kendo-button imageUrl="../../assets/svgIcon/gray-down.svg" fillMode="flat"></kendo-button>
        </kendo-buttongroup>
    </div>
</div>