<div class="content">
    <div class="hearder-title">
        <div class="title">
            <p>CẤU HÌNH GỞI THÔNG BÁO</p>
        </div>
        <div class="optionlag">
            <button (click)="btnSMS(0)" [ngClass]="{'clicked1': isClicked1}">SMS</button>
            <div class="line"></div>
            <button (click)="btnMobile(1)" [ngClass]="{'clicked2': isClicked2}">Mobile App</button>
            <div class="line"></div>
            <button (click)="btnCart(2)" [ngClass]="{'clicked3': isClicked3}">Giỏ hàng</button>
        </div>
    </div>
    <div class="wrapper">
        <div class="check">
            <input type="checkbox" name="" id="">
            <span>Gởi thông báo trên app mobile với tiêu đề</span>
        </div>
        <input type="text" class="form" [(ngModel)]="inputValue" (blur)="inputvalue(inputValue)">
        <div class="check">
            <span>Nội dung thông báo</span>
        </div>
        <textarea type="text" id="condition" [(ngModel)]="inputEditorValue" (blur)="inputEditorvalue(inputEditorValue)"></textarea>
        <div class="check">
            <span>Thời điểm gởi thông báo trên App mobile</span>
        </div>
        <div class="cutom-datepicker">
            <app-date-time-picker></app-date-time-picker>
        </div>
        <div class="title">
            <span>Đối tượng gởi thông báo trên App mobile</span>
            <div class="conten">
                <div class="box">
                    <input type="radio" name="" id="app" class="form1 custmradiobtn">
                    <span></span>
                    <label for="app" class="blac radiobtn">Tất cả đối tượng nhận coupon tải app</label>
                </div>
                <div class="box">
                    <input type="radio" name="" id="KHTT" class="form1 custmradiobtn">
                    <span></span>
                    <label for="KHTT" class="blac radiobtn">Tất cả KHTT tải app</label>
                </div>
                <div class="box">
                    <input type="radio" name="" id="cus" class="form1 custmradiobtn">
                    <span></span>
                    <label for="cus" class="blac radiobtn">Tất cả khách hàng tải app</label>
                </div>
            </div>
        </div>
    </div>
</div>
