@import '../../../assets/global.scss';
*{
    font-family: $primary-fonts-family;
}

// kendo-grid-column{
//     background-color: #ffffff;
//     border-top: 5px solid #EDEFF3;
//     border-bottom: 3px solid #EDEFF3;
// }

::ng-deep{
    .k-grid-content.k-virtual-content{
        background-color: #EDEFF3;
    }
    .k-grid-header, .k-grid-header-wrap, .k-grouping-header, .k-grid .k-table-th, .k-grid td, .k-grid .k-table-td, .k-grid-footer, .k-grid-footer-wrap, .k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked, .k-filter-row > .k-table-th, .k-filter-row > td, .k-filter-row > .k-table-td{
        border-color: rgb(0 0 0 / 0%);
        font-size: 15px;
    }
    .k-grid-md td, .k-grid-md .k-table-td{
        background-color: #ffffff;
        border-bottom: 3px solid #EDEFF3;
        border-top: 5px solid #EDEFF3;
        padding: 15px 5px;
    }
    .k-i-more-horizontal.k-button-icon.k-icon{
        font-size: 25px;
    }
    .k-dropdown-button:focus{
        background-color: #BDC2D2 !important;
        opacity: 1 !important;
    }
    .k-window-titlebar-action .k-dialog-titlebar-action .k-button .k-icon-button .k-button-md .k-rounded-md .k-button-flat-base .k-button-flat{
        display: none;
    }
    .k-window-content .k-dialog-content {
        margin: 0;
        padding: 0;
    }
}
.customPageside{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 77rem;
}
.customePageBTN{
    display: flex;
}
::ng-deep kendo-pager{
    background-color: #EDEFF3 !important;
    kendo-pager-page-sizes{
        kendo-label{
            order: 1;
            margin-right: 1rem;
            &::before{
                content: "Hiển thị mỗi trang: ";
            }
            label{
                display: none !important;
            }
        }
        kendo-dropdownlist{
            order: 2;
            
        }
    }
    kendo-pager-prev-buttons{
        .k-disabled.k-pager-nav::before{
            content: "Previous" !important;
        }
    }
    .k-overlay .ng-tns-c69-1 .ng-trigger .ng-trigger-overlayAppear{
        background-color:  rgba(196, 196, 196, 0.4) !important;
    }
    .k-window-title .k-dialog-title{
        font-family: $primary-fonts-family;
        font-weight: 700;
    }
}
.option_item{
    position: static;
    align-items: center;
    text-align: center;    
    margin-top: -5px;
    .checkbox{
        opacity: 0;
        &:checked ~ .custombtn{
            display: block;
            display: flex;
        }
        &:checked ~ .tick_doticon{
            background-color: #BDC2D2;
        }
    }
    kendo-button{
        position: absolute;
        color: #959DB3;
        margin-top: -5px;
        margin-left: -5px;
        border: none;
        font-size: 25px;
        box-shadow: none;
        &:hover{
            background-color: #BDC2D2 !important;
            border-radius: 5px;
            color: #ffffff;
        }
        &:focus{
            color: #ffffff;
        }
    }
    .custombtn{
        width: 11rem;
        display: flex;
        position: absolute;
        justify-content: space-around;
        height: 70px;
        text-align: center;
        align-items: center;
        border: none;
        background-color: #BDC2D2;
        color: #ffffff;
        border-radius: 5px;
        margin-left: -135px;
        margin-top: -3px;
        display: none;
        flex-direction: column;
        z-index: 55;
        flex-wrap: nowrap;;
        .btnoption{
            width: 10rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            border: none;
            background-color: #BDC2D2;
            color: #ffffff;
            img{
                padding-right: 15px;
            }
        }
    }
}
