<kendo-drawer-container class="right-drawer-container">
  <kendo-drawer 
  #rightDrawer 
  [mode]="expandMode" 
  [expanded]="expanded" 
  position="end" 
  [autoCollapse]="false"
  class="rightDrawer"
  [width]= 417>
    <ng-template kendoDrawerTemplate>
      <div *ngIf="product" class="draew"> 
        <h2 class="gree">THÊM MỚI SẢN PHẨM</h2>
        <div class="line"></div>
        <div class="form">
          <label for="idProduct">Nhập mã sản phẩm</label>
          <input type="text" id="idProduct" value='{{ product.Barcode }}'>
        </div>
        <div class="form">
          <label for="NameProduct">Tên sản phẩm</label>
          <input type="text" id="NameProduct" value='{{ product.ProductName }}'>
        </div>
        <div class="boxing">
          <img src="http://test.lapson.vn/{{ product.ImageThumb }}">
        </div>
        <div class="btn">
          <button kendoButton class="Closebtn but" (click)="rightDrawer.toggle()">ĐÓNG</button>
          <button kendoButton class="Updatebtn but" (click)="Update()">CẬP NHẬT</button>
        </div>
      </div>
      <div *ngIf="!product"> 
        <h2 class="gree">THÊM MỚI SẢN PHẨM</h2>
        <div class="line"></div>
        <div class="form">
          <label for="idProduct">Nhập mã sản phẩm</label>
          <input type="text" id="idProduct" value=''>
        </div>
        <div class="form">
          <label for="NameProduct">Tên sản phẩm</label>
          <input type="text" id="NameProduct" value=''>
        </div>
        <div class="boxing">
          <input type="file" accept="image/*">
          <!-- <img src=""> -->
        </div>
        <div class="btn">
          <button kendoButton class="Closebtn but" (click)="rightDrawer.toggle()">ĐÓNG</button>
          <button kendoButton class="Updatebtn but" (click)="Update()">CẬP NHẬT</button>
        </div>
      </div>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <div class="hearder">
      <div class="custom-toolbar ">
        <button kendoButton icon="menu" fillMode="flat" (click)="clickbtn()" ></button>
      </div>
      <app-menu-top [ngClass]="{'change': isClicked}" class="width"></app-menu-top>
    </div>
    <kendo-drawer-container class="left-drawer-container">
      <kendo-drawer 
      #leftDrawer 
      [items]="items" 
      mode="push" 
      [mini]="true" 
      [width]="270"
      [expanded]="true"
      [autoCollapse]="false"
      (select)="onSelect($event)"
      [isItemExpanded]="isItemExpanded"
      >
      <ng-template kendoDrawerItemTemplate let-item>
        <span class="k-icon item-icon"><img src={{item.img}} alt=""></span>
        <span class="customText">{{item.text}}</span>
      </ng-template>
      </kendo-drawer>
      <kendo-drawer-content class="drawer-content"> 
        <div class="scrollable">
          <app-optional></app-optional>
          <div class="linepage"></div>
          <app-information-coupon></app-information-coupon>
          <app-conditions-apply></app-conditions-apply>
          <app-notification></app-notification> 
          <app-program-details-information [drawerRef]="rightDrawer" (dataReceivedEvent)="onDataReceived($event)"></app-program-details-information>
        </div>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </kendo-drawer-content>
</kendo-drawer-container>
<!-- <app-update-dialog></app-update-dialog> -->