<kendo-grid
    [kendoGridBinding]="gridData"
    [pageSize]="pageSize"
    [skip]="skip"
    (pageChange)="pageChange($event)"
    [pageable]="{
        buttonCount: buttonCount,
        info: info,
        type: type,
        pageSizes: pageSizes,
        position: position
    }"
    [height]="580"
    [filter]="gridFilter"
>
    <kendo-grid-column field="reportId" title="Mã" [width]="100" [headerStyle]="{'color': '#5A6276'}" [style]="{'color': '#5A6276', 'font-weight':'700'}"></kendo-grid-column>
    <kendo-grid-column field="reportName" title="Tên Báo Cáo" [width]="300" [headerStyle]="{'color': '#5A6276'}" [style]="{'color': '#26282E' , 'font-weight':'700'}"></kendo-grid-column>
    <kendo-grid-column field="reportDecription" title="Mô Tả" [headerStyle]="{'color': '#5A6276'}" [style]="{'color': '#5A6276'}"></kendo-grid-column>
    <kendo-grid-column  title="" [width]="60">
        <ng-template kendoGridCellTemplate let-dataItem>
            <label for="{{dataItem.reportId}}"  class="option_item">
                <input type="checkbox" class="checkbox" name="" id="{{dataItem.reportId}}">
                <kendo-button icon="more-horizontal" [toggleable]="true"></kendo-button>
                <button (click)="dialogService.open(false)" class="custombtn"><img src="../../../assets/svgIcon/xlsx.svg" alt=""> Xuất ra Excel</button> 
            </label>
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <div class="customPageside">
            <div>
                <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
            </div>
            <div class="customePageBTN">
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
        </div>
    </ng-template>
</kendo-grid>
<app-dialog *ngIf="dialogService.opened"></app-dialog>
