::ng-deep{
    // .k-datetime-wrap{
    //     overflow: auto;
    // }
    .k-toolbar.k-toolbar-resizable{
        display: none;
    }
    .k-datetime-buttongroup{
        display: none;
    }
    .k-time-tab .k-datetime-selector {
        transform: translateX(0);
    }
    .k-datetime-selector{
        display: block;
        transition: none;
    }
    .k-datetime-container {
        display: block;
    }
    .k-popup > .k-list{
        width: 100%;
    }
    .k-i-clock::before{
        content: '\e108';
    }
    .k-datetime-time-wrap{
        display: none;
    }
    .k-popup{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    
    .k-datetime-calendar-wrap, .k-datetime-time-wrap {
       margin-top: 15px;
    }
    .k-time-header{
        display: none;
    }
    .k-time-list-container{
        height: 150px;
        width: 100%;
    }
    .k-calendar .k-calendar-md .k-calendar-range .k-disabled .k-widget{
        opacity: 1 !important;
    }
    // .k-datetime-footer.k-action-buttons.k-actions.k-hstack.k-justify-content-stretch.ng-star-inserted{
    //     display: none;
    // }
}
kendo-datetimepicker{
    width: 160px;
}
kendo-dropdownbutton{
    width: 105px;
}
.display{
    display: none;
}
.line{
    height: 1px;
    background-color: #DBDEE7;
    width: 100%;
}
// .pee{
// }
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 10px;
}
.box{
    margin-bottom: 15px;
    .blac{
        margin-left: 10px;
        cursor: pointer;
    }
    .checkbox{
        appearance: none;
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        border: 1px solid rgba(153, 153, 153, 1);
        border-radius: 100%;
        cursor: pointer;
        &::after{
            content: "\e118";
            font-family: "WebComponentsIcons";
            color: #ffffff;
            display: none;
            font-size: 12px;
        }
        &:checked{
            border: 1px solid #5CB800;
            background-color: #5CB800;
            &::after{
                display: block;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
        &:checked + .blac{
            color: #5CB800;
        }
    }
}
kendo-combobox{
    margin-right: 50px;
}

button{
    margin: 0 5px;
    border: #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    height: 30px;
    font-size: 13px;
    opacity: 0.4;
    &:hover{
        background-color: #1A6634;
        color: #ffffff;
        opacity: 1;
    }
}
.clicked{
    background-color: #1A6634;
    color: #ffffff;
    opacity: 1;
}
.style{
    display: flex;
}

.datetimpicker{
    width: 400px;
    border-radius: 5px;
    kendo-button{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    kendo-dateinput{
        width: 250px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #F5F6F8;
    }   
}
.disabledbtn{
    opacity: 0.4;
    margin-bottom: 15px;
    pointer-events: none;
}
.magi{
    margin-bottom: 15px;
}