<kendo-dialog
    *ngIf="actionDialog.isDialogOpen"
    (close)="close()"
    [minWidth]="250"
    [width]="450"
    >
    <kendo-dialog-titlebar>
        <div class="title-dialog">
          <img src="../../../assets/svgIcon/erron_icon.svg" alt=""> 
          <p class="red">Xóa Sản Phẩm</p>
        </div>
    </kendo-dialog-titlebar>
    <div>
        <p style="text-align: center;">
            Bạn có chắc chắn muốn xóa sản phẩm
        </p>
        <p class="styletext">
            {{actionDialog.MaSP}} : {{actionDialog.TenSP}}
        </p>
        <p style="margin: 30px; text-align: center;">Sản phẩm bị xóa sẽ <span class="redtext">KHÔNG</span> thể khôi phục lại.</p>
    </div>
    <kendo-dialog-actions>
    <button class="actionDialog borderleft" kendoButton (click)="close()">KHÔNG XÓA</button>
    <button class="actionDialog red" imageUrl="../../../assets/svgIcon/white_bin.svg" kendoButton (click)="Delete()">
        XÓA
    </button>
    </kendo-dialog-actions>
</kendo-dialog>