kendo-dialog-titlebar{
    background-color: #1A6634;
    .title-dialog{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        img{
            margin-right: 15px;
        }
        .red{
            color: #ffffff;
            font-weight: 700;
        }
    }
}
kendo-dialog-actions{
    .actionDialog{
        background-color: #ffffff;
        width: 150px;
        height: 50px;
        border: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid #ebebeb;
        border-radius: 0;
        font-weight: 700;
        color: #959DB3;
    }
    .borderleft{
        border-bottom-left-radius: 5px;
    }
    .gree{
        background-color: #1A6634;
        color: #ffffff;
        border-bottom-right-radius: 5px;
    }
}
::ng-deep{
    button.k-window-titlebar-action.k-dialog-titlebar-action.k-button.k-icon-button.k-button-md.k-rounded-md.k-button-flat-base.k-button-flat{
        display: none;
    }
    .k-window-actions{
        padding-block: 0;
        padding-inline: 0;
    }
    .k-dialog-actions{
        gap: 0;
    }
    .k-window.k-dialog.ng-tns-c69-3{
        border-radius: 5px !important;
    }
}