<kendo-appbar position="top">
    <kendo-appbar-section>
        <ul class="listMenu">
            <li>cấu hình</li>
            <div class="line"></div>
            <li>mua hàng</li>
            <div class="line"></div>
            <li>kho hàng</li>
            <div class="line"></div>
            <li>điều phối</li>
            <div class="line"></div>
            <li class="gree">marketing
                <div class="action-line"></div>
            </li>
            <div class="line"></div>
            <li>e-commerce</li>
            <div class="line"></div>
            <li>kinh doanh</li>
            <div class="line"></div>
            <li>nhân sự</li>
            <div class="line"></div>
            <li>báo cáo</li>
            <div class="line"></div>
        </ul>
    </kendo-appbar-section>
    <kendo-appbar-section>
        <div >
            <ul class="listIcon">
                <li>
                    <img src="../../assets/svgIcon/Search_icon.svg" alt="">
                </li>
                <li>
                    <img src="../../assets/svgIcon/Bell_icon.svg" alt="">
                </li>
                <li>
                    <img class="avatar" src="../../assets/svgIcon/Bell_icon.svg" alt="">
                    <div class="action-dot"></div>
                </li>
            </ul>
            
        </div>
    </kendo-appbar-section>
</kendo-appbar>